<h3>Cart Page</h3>
<a (click)="routeTo400()">404 Route</a>
<a (click)="routeTo500()">500 Route</a>
<a (click)="routeToGeneralErro()">4xx/5xx Route</a>
<p>
  <a [routerLink]="['/shipping']">Shipping Prices</a>
</p>

<div class="item" *ngFor="let item of items; index as productNumber">
  <span>
    {{productNumber +1}} {{ item.name }}
  </span>
  <span>
    {{ item.price | currency: 'INR' }}
  </span>
  <button [style]="'background-color: red'" (click)="removeItem(productNumber)">
    X
  </button>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="name"> Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div>
      <label for="address"> address</label>
      <input id="address" type="text" formControlName="address" />
    </div>

    <button class="button" type="submit">Purchase</button>
  </form>
</div>
